* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color, #000000); 
    transition: background-color 0.5s ease; 
}

body {
    overflow: hidden;
    background-color: var(--bg-color, #000000);
}


#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 50% 50%;
}

#image-track {
    display: flex;
    gap: 5vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0, -50%);
}

.current-text {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.cursors {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
   
  }
  
  .ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color:  rgba(202, 239, 197, 0.2);
    border-radius: 50%;
    backdrop-filter: blur(12px);
    transform: translate(-50%, -50%);
    z-index: 10;
  }

@import url('https://fonts.cdnfonts.com/css/satoshi');
@import '../node_modules/bootstrap/scss/bootstrap.scss';

